<h1>Projects index</h1>
<% if @projects.any? %>
  <ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.name, project_path(project.to_param) %>
      (<%= link_to "Edit", edit_project_path(project.to_param) %>)
      (<%= link_to "Delete", project_path(project.to_param), method: :delete, data: {confirm: "Are you sure?"} %>)</li>
  <% end %>
  </ul>
<% else %>
  None
<% end %>