<h1>Projects index</h1>
<% if @projects.any? %>
  <ul>
  <% @projects.each do |project| %>
    <li><a href="<%= project_path(project.id) %>"><%= project.name %></a></li>
  <% end %>
  </ul>
<% else %>
  None
<% end %>